#textarea-note {
  border: 3px solid transparent;
  height: 20rem;
  outline: none;
  width: 31rem;
}

#textarea-note:focus {
  border: 3px solid var(--strong-shadow);
}

.new-book {
  border: none;
  background: none;
  width: 80%;
}

.new-note {
  opacity: 0.8;
  height: 100%;
}

.add-btn {
  margin-top: 2rem;
  background-color: var(--add-book);
  /* f5f1d7 */
  border: 1px solid var(--add-book-hover);
  border-radius: var(--radius-standard);
  color: var(--black-ink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  white-space: nowrap;
  width: 7rem;
}

.add-btn:hover {
  background-color: var(--add-book-hover);
  border: 1px solid var(--black-ink);
  cursor: pointer;
}

.book {
  background-image: url("../assets/book-background.jpg");
  background-position: center;
  border: 2px solid var(--black-ink);
  box-shadow: 1rem 1rem 3.5rem var(--black-ink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  max-width: 140px;
  padding: 2rem;
  transition: transform 0.3s;
}

.book:hover {
  transform: translateY(-0.5rem) scale(1.1);
}

.book > p {
  align-self: stretch;
}

.book-btn {
  background-color: var(--book-btn);
  /* f5f1d7 */
  border: 1px solid var(--book-btn-hover);
  border-radius: var(--radius-standard);
  color: var(--black-ink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0.5rem;
  width: 4rem;
}

.book-btn:hover {
  background-color: var(--book-btn-hover);
  border: 1px solid var(--black-ink);
  cursor: pointer;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-big);
  box-sizing: border-box;
  margin-top: 4rem;
}

.book-label {
  background-image: url("../assets/paper-white.jpg");
  height: 70%;
}

.username {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  .bookshelf {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-small);
  }
}

@media screen and (max-width: 900px) {
  #textarea-note {
    width: 16rem;
  }

  .bookshelf {
    display: flex;
    flex-direction: column;
  }
}
