#navbar {
  background-image: url("../assets/paper-cream.png");
  /* background-color: #f0dda8; */
  /* background: linear-gradient(90deg, rgba(240,221,168,1) 25%, rgba(222,184,135,1) 100%); */
  border: 5px outset burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 4rem;
  padding: 1rem 0;
  width: auto;
}

#nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  margin-right: 5rem;
}

#nav-logo {
  width: 20%;
}

#nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 26px;
  width: 20%;
}

@media screen and (max-width: 900px) {
  #nav-logo {
    margin-left: 1rem;
  }

  #nav-buttons {
    margin-right: 1rem;
  }

  #nav-title > p {
    display: none;
  }

  #nav-logo {
    width: 100%;
  }
}