.btn-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.main-container {
  background-image: url("../assets/paper-cream.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black-ink);
  margin: 3rem 20rem;
  padding: 3rem;
}

@media screen and (max-width: 900px) {
  .main-container {
    margin: 3rem 4rem;
    padding: 1rem;
  }
}

.note {
  background-image: url("../assets/paper-white.jpg");
  border: 1px solid var(--black-ink);
  padding: 1rem;
  text-align: left;
  margin: 1rem 0;
}