:root {
  --black-ink: #242321;
}

body {
  margin: 0;
  font-family: 'Edu SA Beginner', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.better-btn {
  background-color: #f5f1d7; 
  /* ede1ca */
  border: 1px solid white;
  border-radius: 1.5rem;
  color: var(--black-ink);
  font-weight: bold;
  padding: 1rem;
  width: 7rem;
}

.better-btn:hover {
  background-color: #c9b999;
  border: 1px solid var(--black-ink);
}